body {
    font-family: Arial, sans-serif;
    background-color: orangered;
    margin: 20px;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: orange;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: white;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}

button {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

#managementSection {
    display: none;
}

#appointmentsList {
    margin-top: 10px;
}